<div role="tabpanel" class="panel">
  <!-- Tab panes-->
  <div class="tab-content p0">
    <div id="home" role="tabpanel">
      <!-- START list group-->
      <div class="offsidebar-activity-feed">
      </div>
      <!-- END list group-->
    </div>
  </div>
</div>
<!-- END panel tab-->
<%= javascript_include_tag 'activity_feed_timeline' %>