<div id=<%= id %> class="modal fade" role="dialog">
  <div class="modal-dialog">

    <!-- Modal content-->
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title">Graphic</h4>
      </div>
      <%= render partial: "layouts/partials/graphic_form_modals/graphic_form", locals: { graphic: graphic } %>
    </div>

  </div>
</div>