<%= render partial: "layouts/partials/bootstrap_alerts" %>

<p>
  <strong>Name:</strong>
  <%= @side.name %>
</p>
<div class="actions">
  <%= link_to 'Edit', edit_side_path(@side), class: "btn btn-md btn-default green-button pull-left", style: "margin-right: 20px;" %>
  <%= link_to 'Back', sides_path, class: 'btn btn-md btn-default pull-left' %>
</div>