<!-- START Off Sidebar (right)-->
<nav>
   <ul class="nav">
      <!-- START list title-->
      <li class="p">
         <strong class="text-muted">ACTIVITY FEED</strong>
         <span class="icon-feed"></span>
      </li>
      <!-- END list title-->
      <li class="offsidebar-activity-feed">
      </li>
   </ul>
</nav>
<!-- END Off Sidebar (right)-->
<%= javascript_include_tag 'activity_feed_timeline' %>