<h3>New Graphic</h3>
<%= render partial: "layouts/partials/bootstrap_alerts" %>
<div class="col-xs-8">
  <%= render partial: 'form', locals: { graphic: @graphic, action: "create" } %>
</div>

<br class="clear-both"/>
<br />


